.form__field-name {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.form__field:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .form__field-name  {
    flex-direction: column;
  }
  .form__field:first-child {
    margin-right: 0;
  }
}
