.partners__partner-logo {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  opacity: .5;
  transition: all 0.8s ease-in-out;
  cursor: pointer;

}

.partners__partner-logo:hover {
  opacity: 1;
  filter: grayscale(0);

}
