.contacts__column {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  padding-bottom: 10px;
}

.contacts__column:last-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .contacts__column  {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contacts__column  {
    padding-right: 50px;
  }
}
