@import '../fonts/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

$mainFont: Arial,Helvetica,"Nimbus Sans L",sans-serif;
$secondFont: "MyriadRegularCondensed";
$thirdFont: 'Lilita One', cursive;
