@import 'colors';
@import '../styles/font-variables.scss';
@import '../vendor/normalize.scss';

@import'../blocks/page/page.scss';

@import'../blocks/popup/popup.scss';
@import'../blocks/popup/__close-button/popup__close-button.scss';
@import'../blocks/popup/__container/popup__container.scss';
@import'../blocks/popup/__title/popup__title.scss';
@import'../blocks/popup/_opened/popup_opened.scss';

@import '../blocks/header/header.scss';
@import '../blocks/header/__button/header__button.scss';

@import '../blocks/main/main.scss';

@import '../blocks/contacts/contacts.scss';
@import '../blocks/contacts/__column/contacts__column.scss';
@import '../blocks/contacts/__form/contacts__form.scss';

@import '../blocks/footer/footer.scss';

@import '../blocks/form/__field-wrapper/form__field-wrapper.scss';
@import '../blocks/form/__field-error/form__field-error.scss';
@import '../blocks/form/__field-error/form__field-error_active.scss';
@import '../blocks/form/__submit-button/form__submit-button.scss';
@import '../blocks/form/__submit-button/form__submit-button_disabled.scss';

@import '../blocks/form/form.scss';
@import '../blocks/form/__field/form__field.scss';
@import '../blocks/form/__placeholder/form__placeholder.scss';
@import '../blocks/form/__placeholder-label/form__placeholder-label.scss';
@import '../blocks/form/__placeholder-required/form__placeholder-required.scss';
@import '../blocks/form/__field-input/form__field-input.scss';
@import '../blocks/form/__field-input/form__field-input-phone.scss';
@import '../blocks/form/__field/form__field_type_error.scss';
@import '../blocks/form/__field-textarea/form__field-textarea.scss';


body,
button,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
