.services {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100%;
  padding: 0;
  padding-top: 120px;
}

@media screen and (max-width: 768px) {
  .services {
padding: 0 16px;
padding-top: 65px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services {
    padding: 0 24px;
    padding-top: 65px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .services {
    padding: 0 48px;
    padding-top: 90px;
  }
}

