.service__card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .service__card-content {
    flex-direction: column;
    align-items: center;
  }
}
