.main-nav__item {
  margin-right: 40px;
  margin-bottom: 0;
  margin-top: 0;
  color: $main-colors-dark-blue;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item:hover .main-nav__link:hover {
  color: $main-colors-azure;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-nav__item  {
    margin-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__item {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
