.header {
  margin: 0 auto;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  padding: 40px 140px 24px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $main-colors-dark-blue;
  max-width: 1920px;
}

