.header__button {
  background-color: red;
  background-size: 22px 22px;
  background-position: 50% 50%;
  width: 150px;
  height: 50px;
  padding: 0;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: opacity 1s;
}

.header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__button:focus {
  outline: 0;
}
