.form__field {
  position: relative;
  z-index: 1;
  background-color: $main-colors-white;
  min-width: 300px;
  min-height: 50px;
  margin-bottom: 40px;
}

@media screen and (max-width: 374px) {
  .form__field {
    min-width: 100px;
    min-height: 40px;
  }
}

@media screen and (min-width: 375px) and (max-width: 449px) {
  .form__field {
    min-width: 150px;
    min-height: 40px;
  }
}

@media screen and (min-width: 450px) and (max-width: 559px) {
  .form__field {
    min-width: 200px;
    min-height: 40px;
  }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
  .form__field {
    min-width: 250px;
    min-height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form__field {
    min-width: 200px;
    min-height: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .form__field {
    min-width: 250px;
    min-height: 40px;
  }
}

